<!DOCTYPE html>

<html>
    <body>
        <h1>회원가입 웹페이지</h1>
        <form action="/member/entry" method="post">
            아이디<input type="text" name="memberId"><br>
            암호<input type="password" name="memberPassword"><br>
            메일주소<input type="email" name="email"><br>
            이름<input type="text" name="name"><br>
            <input type="submit" value="전송">
        </form>
    </body>
</html>